{% extends 'base.html' %}

{% block title %}User Profile{% endblock %}

{% block content %}

<div class="border border-primary border-4 rounded p-4">
    <h5>Username: <b>{{ user.username }}</b></h5>
    <h5>Email: <b>{{ user.email }}</b></h5>
    <h5>Name: <b>{{ user.first_name }} {{ user.last_name }}</b></h5>
</div>

<h2 class="display-3 my-4">
    User Feedback 
    <a class="btn btn-lg btn-primary" href="/users/{{user.username}}/feedback/add">Add More</a>
    <form class="d-inline" action="/users/{{user.username}}/delete" method="POST">
        <button class="btn btn-lg btn-danger">Delete User</button>
    </form>
</h2>

{% for f in user.feedback %}
<div class="card">
    <div class="card-body">
      <h5 class="card-title d-inline">{{ f.title }}</h5>
      <a href="/feedback/{{f.id}}/update" class="btn btn-sm btn-primary"><i class="fas fa-pencil-alt"></i></a>
      <form class="d-inline" action="/feedback/{{f.id}}/delete" method="POST">
        <button class="btn btn-sm btn-danger"><i class="far fa-trash-alt"></i></button>
      </form>
      <p class="card-text">{{ f.content }}</p>
    </div>
</div>
{% endfor %}

{% endblock %}